<ion-popover-view class="fit">
    <ion-content>
        <div class="list">
            <a class="item providence-primary" ng-if="sectioned != 'home'" ng-click="section('home')">
                Home
            </a>
            <a class="item providence-primary" ng-if="admin && sectioned == 'pledge'" ng-click="exportSignatures()">
                Export Pledges
            </a>
            <a class="item providence-primary" ng-if="loggedInAccount.publicKey && sectioned != 'myPledges'" ng-click="section('myPledges')">
                My Pledges
            </a>
            <a class="item providence-primary" ng-if="loggedInAccount.publicKey" ng-click="newPledgePrompt()">
                New Pledge
            </a>
        </div>
    </ion-content>
</ion-popover-view>