<div class="card">
    <div class="item item-divider">
        Ripple Name
    </div>
    <div class="item item-text-wrap">
        <a href="https://rippletrade.com/#/send?to=~{{data.selectedSignature.rippleName}}" target="_blank">{{data.selectedSignature.rippleName}}</a>
    </div>
</div>
<div class="card" ng-if="data.selectedSignature.backupHash">
    <div class="item item-divider">
        Ripple Txn Hash
    </div>
    <div class="item item-text-wrap">
        <a href="https://ripplecharts.com/#/graph/{{data.selectedSignature.backupHash}}" target="_blank">{{data.selectedSignature.backupHash}}</a>
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        Signed Pledge
    </div>
    <div class="item item-text-wrap copyable">
        {{data.selectedSignature.signedPledge}}
    </div>
</div>
<div class="card">
    <div class="item item-divider">
        Pledge Signed
    </div>
    <div class="item item-text-wrap copyable">
        {{data.selectedSignature.reportedDate}}{{pledge.pledge}}{{data.selectedSignature.signature}}
    </div>
</div>