<ion-view title="mypledges">
    <ion-content class="padding" style="padding-top: 55px;">
        <div class="row" style="padding-top: 10px;padding-bottom: 2px;margin-bottom:0px;height:57px;">
            <div class="col col-40" style="width:20%;"><a twitter style="float:left !important;" data-text="Make your pledge matter." class="twitter-share-button" data-url="https://pledger.club" data-via="PledgerClub" data-count="none" data-size="large" data-hashtags="PledgeWithMe"></a></div>
            <div class="col col-20" style="width:60%;"></div>
            <div class="col col-40" style="width: 20%;padding-top: 10px;"><a href="https://www.tumblr.com/share" title="Share on Tumblr" style="float:right;display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('https://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a></div>
        </div>
        <div class="row" style="padding:0px;margin-top:0px;">
            <div class="col" style="padding:0px;">
                <div class="button-bar">
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'all' }" ng-click="switchSection('all')">All</a>
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'written' }" ng-click="switchSection('written')">Written</a>
                    <a class="button marketing-primary-block" ng-class="{ active: data.section == 'signed' }" ng-click="switchSection('signed')">Signed</a>
                </div>
            </div>
        </div>
        <div class="list" style="padding-bottom: 100px !important;">
            <a class="item item-avatar" style="text-align:left;" ng-repeat="pledge in pledges | orderBy:'date':true" ng-if="pledges && ((data.section == 'all') || (data.section == 'written' && pledge.isAdmin) || (data.section == 'signed' && !pledge.isAdmin))" ng-click="navigate(pledge._id)">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/Quill_and_ink.png">
                <h2 class="providence-primary">{{pledge.title}}</h2>
                <p>{{pledge.description}}</p>
            </a>
            <a class="item item-avatar" style="text-align:left;" ng-if="!pledges" ng-click="newPledgePrompt()">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/Quill_and_ink.png">
                <h2 class="providence-primary" ng-if="!loadingMyPledges">No pledges.</h2>
                <h2 class="providence-primary" ng-if="loadingMyPledges"><i class="icon ion-loading-c"></i></h2>
                <p>Create new pledge now?</p>
            </a>
        </div>
    </ion-content>

    <div ng-include src="'templates/login.html'"></div>

</ion-view>