<ion-view title="pledger">
    <ion-content class="padding" style="padding-top: 55px;">

        <div class="row" style="padding-top: 10px;padding-bottom: 2px;margin-bottom:0px;height:57px;">
            <div class="col col-40" style="width:20%;"><a twitter style="float:left !important;" data-text="Make your pledge matter." class="twitter-share-button" data-url="https://pledger.club" data-via="PledgerClub" data-count="none" data-size="large" data-hashtags="PledgeWithMe"></a></div>
            <div class="col col-20" style="width:60%;"></div>
            <div class="col col-40" style="width: 20%;padding-top: 10px;"><a href="https://www.tumblr.com/share" title="Share on Tumblr" style="float:right;display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('https://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a></div>
        </div>

        <div class="list card" style="margin-top:0px;">

            <div class="item item-avatar">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/Quill_and_ink.png" style="height: 40px;width:auto;max-width: none;">
                <h2 class="providence-primary" style="float:left;margin-bottom:0px;">Introduction</h2>
                <br>
                <p class="providence-primary" style="font-size: 12px;float:left;">{{data.date  | date:'medium'}}</p>
            </div>

            <div class="item item-body">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerClub.png" style="width:50%;">
                <p style="text-align:left;margin-top:0px;">
                    <iframe align="left" style="padding-right:10px;" src="//player.vimeo.com/video/116384825?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1" width="350" height="197" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>Our friends developed Pledger Club after forming a partnership based on an oath of adherence to universal standards in ensuring decentralization. After signing different copies of the same pledge, conglomerating the copies, and copy and pasting the signatures onto the same PDF file, the difficulty and phoniness of getting together electronic signatures begot us. Our team realized any one of us could later lie by copy and pasting a signature onto a pledge and claim a pledger had signed the agreement. A person legally slighted would have to pay tens of thousands of dollars for an investigation, violating privacy rights in the process. In response to our troubles, we developed <a href="https://providence.solutions/#/tab/pledge" target="_blank">Our Pledge</a>, enabling pledgers to unarguably and infallibly sign pledges or legal documents, to make pacts that go beyond the superficial and enter the realm of canon. Within seven days, Our Pledge evolved to Pledger Club, an effort to guarantee the world the same signing rights our team now enjoys. A pledger may graphically sign with mouse or finger, then cryptographically sign the resulting image with a secure cryptocurrency wallet, storing the signature in the decentralized, open-access ledger in one action. Eternal signatures cryptographically signed in the ledger by every pledger's secure cryptocurrency wallet encompass the first legal protectorate of individual independent enterprise. Pledge on!
                </p>
            </div>

        </div>

        <div class="row">
            <div class="col">
                <div class="list card">

                    <div class="item" style="text-align:left;">
                        <h2 class="providence-primary">Crystallize Tacit Agreements</h2>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" style="width:50% !important;padding:20px;" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/svg/snowflake135.svg">
                    </div>

                    <div class="item">
                        <p class="noClip">Jerry loaned John $5 for lunch after John signed an IOU on Pledger Club.</p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item" style="text-align:left;">
                        <h2 class="providence-primary">Support Causes</h2>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" style="width:50% !important;padding:20px;" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/svg/group44.svg">
                    </div>

                    <div class="item">
                        <p class="noClip">Tiffany raised 1,000,000 signatures for her kitty wool farm on Pledger Club.</p>
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item" style="text-align:left;">
                        <h2 class="providence-primary">Claim Attribution</h2>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" style="width:50% !important;padding:20px;" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/svg/sort8.svg">
                    </div>

                    <div class="item">
                        <p class="noClip">John claimed ownership of his designs on Pledger Club.</p>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">1</h1>
                        <h2 class="providence-primary">Connect Ripple</h2>
                        <p>Requires funded <a href="https://rippletrade.com" target="_blank">wallet</a></p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step1.png">
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">2</h1>
                        <h2 class="providence-primary">Create New Pledge</h2>
                        <p>Pledge sharable with unique URL</p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step2.png">
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">3</h1>
                        <h2 class="providence-primary">Share Pledge</h2>
                        <p>Keep private or make public over Twitter</p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step3.png">
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">4</h1>
                        <h2 class="providence-primary">Sign Pledge</h2>
                        <p>Save in decentralized ledger</p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step4.png">
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">5</h1>
                        <h2 class="providence-primary">Prove Signatures</h2>
                        <p>Verify signatures </p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step5.png">
                    </div>

                </div>
            </div>
            <div class="col">
                <div class="list card">

                    <div class="item item-avatar" style="text-align:left;">
                        <h1 class="numberAvatar providence-primary">6</h1>
                        <h2 class="providence-primary">Export Signatures</h2>
                        <p>Scalably save to CSV</p>
                    </div>

                    <div class="item item-image">
                        <img class="maxMarketing" src="https://d1pzmogk9nquph.cloudfront.net/img/pledgerclubfaq/step6.png">
                    </div>

                </div>
            </div>
        </div>

    </ion-content>

    <div ng-include src="'templates/login.html'"></div>

</ion-view>