<ion-view title="pledge">
    <ion-content class="padding" style="padding-top: 55px;">

        <div class="row" style="padding-top: 10px;padding-bottom: 2px;margin-bottom:0px;height:57px;">
            <div class="col col-40" style="width:20%;"><span ng-if="pledge._id"><a twitter style="float:left !important;" data-count="none" data-text="Pledge with me: {{pledge.title}}" class="twitter-share-button" data-url="https://pledger.club/#/tab/pledge/{{pledge._id}}" data-via="PledgerClub" data-size="large" data-hashtags="PledgeWithMe"></a></span></div>
            <div class="col col-20" style="width:60%;"></div>
            <div class="col col-40" style="width: 20%;padding-top: 10px;"><a href="https://www.tumblr.com/share" title="Share on Tumblr" style="float:right;display:inline-block; text-indent:-9999px; overflow:hidden; width:81px; height:20px; background:url('https://platform.tumblr.com/v1/share_1.png') top left no-repeat transparent;">Share on Tumblr</a></div>
        </div>

        <div class="list card" style="margin-top:0px;margin-bottom: 210px !important;">

            <div class="item item-avatar">
                <img src="https://d1pzmogk9nquph.cloudfront.net/img/providenceCirl-01.png">
                <h2 class="providence-primary" style="float:left;margin-bottom:0px;">{{pledge.title}}</h2>
                <br>
                <p class="providence-primary" style="font-size: 12px;float:left;">{{pledge.date | date:'medium'}}</p>
            </div>

            <div class="item item-body">
                <div class="copyable" style="text-align:left;margin-top:0px;margin-bottom: 15px;" ng-bind-html="pledge.pledgeDisplay">
                </div>
                <a class="item providence-primary-block" ng-if="!data.sign" ng-click="signActivate()" style="color:#fff;">
                    Sign
                </a>
                <h4 class="providence-primary ionHead" style="margin-bottom:0px;" ng-if="pledge.signatureLength">
                    <ng-pluralize count="pledge.signatureLength"
                                  when="{'0': 'No signatures.',
                     '1': '{{pledge.signatureLength}} signature',
                     'other': '{{pledge.signatureLength}} signatures'}">
                    </ng-pluralize>
                </h4>
                <div ng-if="pledge.admins && pledge.admins[0]" ng-repeat="signature in pledge.admins" style="display:inline-block;margin-top:20px;padding-right:10px;padding-left:10px;">
                    <p style="margin-top:0px;margin-bottom:0px;font-size: 14px;color:green !important;" class="providence-primary hander" ng-if="signature.valid"><a ng-click="provablySigned(signature)">~{{signature.rippleName}}</a></p>
                    <img src="{{signature.signature}}" style="width:100px;">
                    <p style="margin-top:0px;">{{signature.name}}</p>
                    <p style="margin-top:0px;font-size: 12px;">{{signature.date | date:'medium'}}</p>
                </div>
                <div ng-if="pledge.signatures && pledge.signatures[0]" ng-repeat="signature in pledge.signatures" style="display:inline-block;margin-top:20px;padding-right:10px;padding-left:10px;">
                    <p style="margin-top:0px;margin-bottom:0px;font-size: 14px;color:green !important;" class="providence-primary hander" ng-if="signature.valid"><a ng-click="provablySigned(signature)">~{{signature.rippleName}}</a></p>
                    <img src="{{signature.signature}}" style="width:100px;">
                    <p style="margin-top:0px;">{{signature.name}}</p>
                    <p style="margin-top:0px;font-size: 12px;">{{signature.date | date:'medium'}}</p>
                </div>
                <a class="item providence-primary-block" ng-if="!data.noMore" ng-click="getSignatures()" style="color:#fff;">
                    More Signatures
                </a>
            </div>

        </div>

    </ion-content>

    <div ng-include src="'templates/login.html'"></div>

</ion-view>