
<ion-tabs class="tabs-icon-top">

    <ion-tab title="Pledge" icon="icon ion-home" href="#/tab/pledge">
        <ion-nav-view name="tab-pledge"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pledger" icon="icon ion-home" href="#/tab/pledger">
        <ion-nav-view name="tab-pledger"></ion-nav-view>
    </ion-tab>

    <ion-tab title="My Pledges" icon="icon ion-home" href="#/tab/mypledges">
        <ion-nav-view name="tab-mypledges"></ion-nav-view>
    </ion-tab>

</ion-tabs>
