<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Pledger Club</title>

    <link href="css/vendor.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="https://d1pzmogk9nquph.cloudfront.net/img/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://d1pzmogk9nquph.cloudfront.net/img/favicon-16x16.png" sizes="16x16" />

    <script src="https://invest.providence.solutions/socket.io/socket.io.js"></script>

    <script src="js/vendor1.js"></script>

    <script src="cordova.js"></script>

    <script src="js/vendor2.js"></script>

  </head>
  <body ng-app="starter" animation="slide-left-right-ios7">

    <ion-nav-bar class="bar-stable nav-title-slide-ios7" class="initialNavBar">
      <div class="row row-center" style="margin-top:87px;text-align:center;">
          <div class="col"></div>
          <div class="col col-center" style="max-width: 110px;text-align:center;" ng-controller="CardsCtrl">
              <swipe-cards class="swipe-cards" style="text-align:center;">
                  <swipe-card id="start-card" style="text-align:center;">
                      <div class="image" ng-controller="CardCtrl" style="text-align:center;">
                          <img style="width:100px;height:100px;" class="hander" ng-click="openPopover()" ng-src="{{starterSrc.image || 'https://d1pzmogk9nquph.cloudfront.net/img/bevelBlog.png'}}">
                      </div>
                  </swipe-card>
              </swipe-cards>
          </div>
          <div class="col"></div>
      </div>
    </ion-nav-bar>

    <ion-nav-view>

    </ion-nav-view>

    <div class="chatPane" ng-if="chatData.chatOn" ng-cloak>
        <div class="row" ng-click="toggleChat()" style="cursor:hand;cursor:pointer;padding-top: 0px;margin-top: 0px;height: 40px;position: fixed;">
            <div class="col" style="padding:0px;text-align:center;">
                <i class="icon ion-chevron-down key"></i>
            </div>
        </div>
        <div class="row" style="height:252px;">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list" id="scrolled" style="overflow-y:scroll;max-height: 212px;overflow-y: scroll;margin-top: 40px;background-color: transparent !important;" keep-scroll>
                    <span class="item item-avatar" style="background-color: transparent !important;" scroll-item ng-repeat="message in chatData.messages | unique: 'hash' | orderBy : 'date' : false">
                        <div class="ava">
                            <h4 class="providence-primary" ng-if="message.username" style="margin-top: 10px;"><a href="https://rippletrade.com/#/send?to=~{{message.username}}" style="color:#14274d;" target="_blank">~{{message.username}}</a></h4>
                            <h4 class="providence-primary" ng-if="!message.username && message.address" style="margin-top: 10px;">{{message.address}}</h4>
                        </div>
                        <p class="providence-primary chatMessage" ng-bind-html="message.message | emoticonize"></p>
                    </span>
                </div>
                <span id="bottom" style="height:5px;" zum-waypoint="waypoints.waypoints" down="position.bottom" up="position.up" offset="5%"></span>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding:0px;text-align:center;">
                <div class="list">
                    <div class="item item-input-inset" style="width: 100%;">
                        <form ng-submit="sendMessage()" style="width: 100%;">
                            <label class="item-input-wrapper" style="width: 80%;display: inline-block;">
                                <input type="text" ng-model="chatData.message" class="ng-pristine ng-valid">
                            </label>
                            <button type="submit" ng-class="{ disabled: chatData.sending }" class="button button-small marketing-primary-bg main-font" style="width: 20%;margin-left: 0px;display: inline-block;color: #fff;">
                                <span ng-if="chatData.sending"><i class="icon ion-loading-c" style="height: 24px;width: 25px;"></i></span><span ng-if="!chatData.sending">Send</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
